w_4 = w_3 - 7
w_8 = w_7 - 4
w_10 = w_9 -2
w_11 = w_6 - 8 => w_11 = 1 && w_6 = 9
w_12 = w_5 + 3
w_13 = w_2 + 7
w_14 = w_1 + 4
`
# Biggest
w_1 = 5
w_2 = 2
w_3 = 9
w_4 = 2
w_5 = 6
w_6 = 9
w_7 = 9
w_8 = 5
w_9 = 9
w_10 = 7
w_11 = 1
w_12 = 9
w_13 = 9
w_14 = 9

# Smallest
w_1  = 1
w_2  = 1
w_3  = 8
w_4  = 1
w_5  = 1
w_6  = 9
w_7  = 5
w_8  = 1
w_9  = 3
w_10 = 1
w_11 = 1
w_12 = 4
w_13 = 8
w_14 = 5
